@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@media screen and (min-width:1224px) and (max-width:5000px) {
    .backgroundimg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
    .logolion {
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .text1 {
        position: absolute;
        color: white;
        left: 130px;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .text2 {
        position: absolute;
        color: white;
        right: 130px;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .fa1 {
        position: absolute;
        left: 90px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
    }
    .fa2 {
        position: absolute;
        right: 80px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
    }
    @keyframes animationfa {
        0% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
        50% {
            position: absolute;
            right: 90px;
            top: 200px;
            transition: all ease 0.30s;
        }
        100% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
    }
    /* زر المزيد */
    .butmore {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 41%;
        text-decoration: none;
        color: white;
        width: 240px;
        height: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    .butmore:hover {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 38%;
        text-decoration: none;
        color: black;
        width: 240px;
        height: 100px;
        background-color: goldenrod;
        border: solid black 4px;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    /* home page */
    .bodyhomepage {
        background-color: #222;
        transition: all ease 0.60s;
    }
    .topnav {
        width: 100%;
        height: 70px;
        background-color: #212122;
        position: fixed;
        top: 0%;
        left: 0%;
        border-radius: 2%;
    }
    .logotopnav {
        border-radius: 10%;
        width: 70px;
        height: 70px;
        position: fixed;
        left: 4%;
        top: 0px;
    }
    .change-Color {
        position: absolute;
        right: 5%;
        top: 4%;
        color: white;
    }
    .discord {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 20%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
    }
    .admins {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 30%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
    }
    .admins:hover {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 30%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
        transform: scale(1.3);
    }
    .information {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 40%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
    }
    .devlopper {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 50%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .Arrow {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 60%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
    }
    .Arrow:hover {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 60%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
        transform: scale(1.3);
    }
    .devlopper:hover {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 50%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
        transform: scale(1.3);
    }
    .information:hover {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 40%;
        top: 2%;
        cursor: pointer;
        transition: all ease 0.20s;
        transform: scale(1.3);
    }
    .discord:hover {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 20%;
        top: 2%;
        transition: all ease 0.20s;
        transform: scale(1.3);
    }
     ::selection {
        color: rgb(17, 155, 17);
    }
    .textcop {
        position: absolute;
        font-size: 17px;
        color: white;
        left: 32%;
        top: 370px;
        font-family: 'Vazirmatn', sans-serif;
    }
    .ramadanlogo {
        position: fixed;
        left: 10%;
        top: 50px;
        width: 300px;
        height: 300px;
    }
    .texthome {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 40px;
        position: absolute;
        left: 30%;
        top: 300px;
        color: white;
        font-family: 'Vazirmatn', sans-serif;
    }
    .buttondisc {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
        left: 40%;
        top: 300px;
        transition: all ease 0.30s;
        display: none;
    }
    .buttondisc:hover {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: #7289DA;
        color: white;
        left: 40%;
        top: 300px;
        transition: all ease 0.30s;
        border-radius: 2%;
        border: 1px solid white;
        display: none;
    }
    .dis2 {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40%;
        top: 300px;
        display: none;
    }
    .divspaidro {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 200px;
        display: none;
    }
    .divkarlos {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 500px;
        display: none;
    }
    .divloven {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 40%;
        top: 200px;
        display: none;
    }
    .imgspaidro {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 204px;
        display: none;
    }
    .imgkarlos {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 524px;
        display: none;
    }
    .imgloven {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 50%;
        top: 204px;
        display: none;
    }
    .imoowner {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 13%;
        top: 210px;
        display: none;
    }
    .imcoowner2 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 14%;
        top: 530px;
        display: none;
    }
    .imcoowner {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 45%;
        top: 210px;
        display: none;
    }
    .spaibut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 48%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 48%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .spaibut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .divoreo {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 40%;
        top: 500px;
        display: none;
    }
    .imgoreo {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 50%;
        top: 524px;
        display: none;
    }
    .imcoowner3 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 45%;
        top: 530px;
        display: none;
    }
    .oreobut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 48%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .oreobut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 48%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .titleinformation {
        font-size: 65px;
        font-family: 'Lalezar', cursive;
        color: white;
        position: absolute;
        right: 40%;
        top: 250px;
        direction: rtl;
        display: none;
    }
    .informationtext {
        font-size: 25px;
        font-size: 45px;
        font-family: 'Vazirmatn', sans-serif;
        color: white;
        position: absolute;
        right: 20%;
        top: 350px;
        direction: rtl;
        display: none;
    }
    /*profile devlopper*/
    .divprofile1 {
        border-radius: 5%;
        width: 720px;
        height: 400px;
        background-color: white;
        position: absolute;
        right: 15%;
        top: 350px;
        display: none;
    }
    .divprofile2 {
        border-radius: 60%;
        width: 150px;
        height: 150px;
        background-color: #7900FF;
        position: absolute;
        right: 36%;
        top: 310px;
        display: none;
    }
    .imgdevlopper {
        border-radius: 60%;
        width: 130px;
        height: 135px;
        position: absolute;
        right: 37%;
        top: 318px;
        display: none;
    }
    .profilename {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        color: #7900FF;
        position: absolute;
        right: 38%;
        top: 430px;
        display: none;
    }
    .moroccoflag {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 46%;
        top: 520px;
        display: none;
    }
    .hobies {
        font-size: 15px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 33%;
        top: 510px;
        display: none;
    }
    .TotalServers {
        font-size: 30px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 44%;
        top: 555px;
        display: none;
    }
    .TotalServers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 50%;
        top: 600px;
        display: none;
    }
    .TotalMembers {
        font-size: 30px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 17%;
        top: 555px;
        display: none;
    }
    .TotalMembers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 23%;
        top: 600px;
        display: none;
    }
}


/* ========================== PC ============================== */

@media screen and (min-width:2000px) and (max-width:7000px) {
    .backgroundimg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
    .logolion {
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .text1 {
        position: absolute;
        color: white;
        left: 130px;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .text2 {
        position: absolute;
        color: white;
        right: 130px;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .fa1 {
        position: absolute;
        left: 90px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        width: 100px;
        height: 100px;
    }
    .fa2 {
        position: absolute;
        right: 80px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        width: 100px;
        height: 100px;
    }
    @keyframes animationfa {
        0% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
        50% {
            position: absolute;
            right: 90px;
            top: 200px;
            transition: all ease 0.30s;
        }
        100% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
    }
    /* زر المزيد */
    .butmore {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 41%;
        text-decoration: none;
        color: white;
        width: 240px;
        height: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    .butmore:hover {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 38%;
        text-decoration: none;
        color: black;
        width: 240px;
        height: 100px;
        background-color: goldenrod;
        border: solid black 4px;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    /* home page */
    .bodyhomepage {
        background-color: #222436;
    }
    .topnav {
        width: 100%;
        height: 70px;
        background-color: #222;
        position: fixed;
        top: 0%;
        left: 0%;
        border-radius: 2%;
    }
    .logotopnav {
        border-radius: 10%;
        width: 70px;
        height: 70px;
        position: fixed;
        left: 45%;
        top: 40px;
    }
    .topnavRight {
        position: fixed;
        width: 150px;
        height: 100%;
        right: 0%;
        background-color: #222;
    }
    .discord {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 15%;
        transition: all ease 0.20s;
        cursor: pointer;
    }
    .admins {
        width: 80px;
        height: 60px;
        position: absolute;
        right: 0.5%;
        top: 25%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .admins:hover {
        width: 80px;
        height: 60px;
        position: absolute;
        right: 0.5%;
        top: 25%;
        transition: all ease 0.20s;
        transform: scale(1, 0.5);
    }
    .information {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 35%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .devlopper {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 45%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .Arrow {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 0.5%;
        top: 55%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .Arrow:hover {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 0.5%;
        top: 55%;
        transition: all ease 0.20s;
        transform: scale(1, 0.5);
    }
    .devlopper:hover {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 45%;
        transition: all ease 0.20s;
        transform: scale(1, 0.5);
    }
    .information:hover {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 35%;
        transition: all ease 0.20s;
        transform: scale(1, 0.5);
    }
    .discord:hover {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0.5%;
        top: 15%;
        transition: all ease 0.20s;
        transform: scale(1, 0.5);
        cursor: pointer;
    }
     ::selection {
        color: gray;
    }
    .textcop {
        position: absolute;
        font-size: 45px;
        color: white;
        left: 42%;
        top: 440px;
        font-family: 'Vazirmatn', sans-serif;
    }
    .ramadanlogo {
        position: fixed;
        left: 10%;
        top: 50px;
        width: 300px;
        height: 300px;
    }
    .texthome {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 70px;
        position: absolute;
        left: 42%;
        top: 300px;
        color: white;
        font-family: 'Vazirmatn', sans-serif;
    }
    .buttondisc {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
        left: 40%;
        top: 300px;
        transition: all ease 0.30s;
        display: none;
    }
    .buttondisc:hover {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: #7289DA;
        color: white;
        left: 40%;
        top: 300px;
        transition: all ease 0.30s;
        border-radius: 2%;
        border: 1px solid white;
        display: none;
    }
    .dis2 {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40%;
        top: 300px;
        display: none;
    }
    .divspaidro {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 200px;
        display: none;
    }
    .divkarlos {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 500px;
        display: none;
    }
    .divloven {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 30%;
        top: 200px;
        display: none;
    }
    .divoreo {
        width: 300px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 30%;
        top: 500px;
        display: none;
    }
    .imgspaidro {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 204px;
        display: none;
    }
    .imgkarlos {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 524px;
        display: none;
    }
    .imgloven {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 204px;
        display: none;
    }
    .imgoreo {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 524px;
        display: none;
    }
    .imoowner {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 14%;
        top: 210px;
        display: none;
    }
    .imcoowner2 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 14%;
        top: 530px;
        display: none;
    }
    .imcoowner {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 34%;
        top: 210px;
        display: none;
    }
    .imcoowner3 {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 34%;
        top: 530px;
        display: none;
    }
    .spaibut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .oreobut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .oreobut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 32%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .spaibut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 12%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .titleinformation {
        font-size: 65px;
        font-family: 'Lalezar', cursive;
        color: white;
        position: absolute;
        right: 40%;
        top: 250px;
        direction: rtl;
        display: none;
    }
    .informationtext {
        font-size: 25px;
        font-size: 45px;
        font-family: 'Vazirmatn', sans-serif;
        color: white;
        position: absolute;
        right: 20%;
        top: 350px;
        direction: rtl;
        display: none;
    }
    /*profile devlopper*/
    .divprofile1 {
        border-radius: 5%;
        width: 720px;
        height: 400px;
        background-color: white;
        position: absolute;
        right: 15%;
        top: 350px;
        display: none;
    }
    .divprofile2 {
        border-radius: 60%;
        width: 150px;
        height: 150px;
        background-color: #7900FF;
        position: absolute;
        right: 20%;
        top: 310px;
        display: none;
    }
    .imgdevlopper {
        border-radius: 60%;
        width: 130px;
        height: 135px;
        position: absolute;
        right: 20%;
        top: 318px;
        display: none;
    }
    .profilename {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        color: #7900FF;
        position: absolute;
        right: 22%;
        top: 430px;
        display: none;
    }
    .moroccoflag {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 25%;
        top: 520px;
        display: none;
    }
    .hobies {
        font-size: 15px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 20%;
        top: 510px;
        display: none;
    }
    .TotalServers {
        font-size: 30px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 24%;
        top: 555px;
        display: none;
    }
    .TotalServers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 27%;
        top: 600px;
        display: none;
    }
    .TotalMembers {
        font-size: 30px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 16%;
        top: 555px;
        display: none;
    }
    .TotalMembers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 18%;
        top: 600px;
        display: none;
    }
}


/* ===============  PHONE  =====================*/

@media screen and (min-width:220px) and (max-width:767px) {
    .backgroundimg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
    .logolion {
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .text1 {
        position: absolute;
        color: white;
        left: 3%;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .text2 {
        color: gold;
        position: absolute;
        left: 4%;
        top: 155px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .fa1 {
        position: absolute;
        left: 90px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        display: none;
    }
    .fa2 {
        position: absolute;
        right: 80px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        display: none;
    }
    @keyframes animationfa {
        0% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
        50% {
            position: absolute;
            right: 90px;
            top: 200px;
            transition: all ease 0.30s;
        }
        100% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
    }
    /* زر المزيد */
    .butmore {
        position: absolute;
        font-size: 30px;
        top: 70%;
        left: 41%;
        text-decoration: none;
        color: white;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    .butmore:hover {
        position: absolute;
        font-size: 30px;
        top: 70%;
        left: 38%;
        text-decoration: none;
        color: black;
        width: 240px;
        height: 100px;
        background-color: goldenrod;
        border: solid black 4px;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    /* home page */
    .bodyhomepage {
        background-color: #222436;
    }
    .topnav {
        width: 100%;
        height: 70px;
        background-color: #222;
        position: fixed;
        top: 0%;
        left: 0%;
        border-radius: 2%;
    }
    .logotopnav {
        border-radius: 10%;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 45%;
        top: 40px;
    }
    .topnavRight {
        position: fixed;
        width: 90px;
        height: 100%;
        right: 0%;
        background-color: #222;
    }
    .discord {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 10%;
        transition: all ease 0.20s;
    }
    .admins {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 25%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .information {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 44%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .devlopper {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 63%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .Arrow {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 80%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
     ::selection {
        color: gray;
    }
    .textcop {
        position: absolute;
        font-size: 10px;
        color: white;
        left: 15%;
        top: 280px;
        font-family: 'Vazirmatn', sans-serif;
    }
    .ramadanlogo {
        display: none;
    }
    .texthome {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        position: absolute;
        left: 10%;
        top: 200px;
        color: white;
        font-family: 'Vazirmatn', sans-serif;
    }
    .buttondisc {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
        left: 30%;
        top: 150px;
        transition: all ease 0.30s;
        display: none;
    }
    .buttondisc:hover {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: #7289DA;
        color: white;
        left: 30%;
        top: 150px;
        transition: all ease 0.30s;
        border-radius: 2%;
        border: 1px solid white;
        display: none;
    }
    .dis2 {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40%;
        top: 150px;
        display: none;
    }
    .divspaidro {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 200px;
        display: none;
    }
    .divkarlos {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 500px;
        display: none;
    }
    .divloven {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 60%;
        top: 200px;
        display: none;
    }
    .imgspaidro {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 204px;
        display: none;
    }
    .imgkarlos {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 524px;
        display: none;
    }
    .imgloven {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 65%;
        top: 204px;
        display: none;
    }
    .imoowner {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 13%;
        top: 210px;
        display: none;
    }
    .imcoowner2 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 14%;
        top: 530px;
        display: none;
    }
    .imcoowner {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 57%;
        top: 210px;
        display: none;
    }
    .spaibut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .spaibut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .divoreo {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 60%;
        top: 500px;
        display: none;
    }
    .imgoreo {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 65%;
        top: 524px;
        display: none;
    }
    .imcoowner3 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 60%;
        top: 530px;
        display: none;
    }
    .oreobut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .oreobut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .titleinformation {
        font-size: 35px;
        font-family: 'Lalezar', cursive;
        color: white;
        position: absolute;
        right: 40%;
        top: 220px;
        direction: rtl;
        display: none;
    }
    .informationtext {
        font-size: 25px;
        font-size: 45px;
        font-family: 'Vazirmatn', sans-serif;
        color: white;
        position: absolute;
        right: 20%;
        top: 350px;
        direction: rtl;
        display: none;
    }
    /*profile devlopper*/
    .divprofile1 {
        border-radius: 5%;
        width: 420px;
        height: 400px;
        background-color: white;
        position: absolute;
        right: 15%;
        top: 350px;
        display: none;
    }
    .divprofile2 {
        border-radius: 60%;
        width: 150px;
        height: 150px;
        background-color: #7900FF;
        position: absolute;
        right: 36%;
        top: 310px;
        display: none;
    }
    .imgdevlopper {
        border-radius: 60%;
        width: 130px;
        height: 135px;
        position: absolute;
        right: 37%;
        top: 318px;
        display: none;
    }
    .profilename {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        color: #7900FF;
        position: absolute;
        right: 38%;
        top: 430px;
        display: none;
    }
    .moroccoflag {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 66%;
        top: 520px;
        display: none;
    }
    .hobies {
        font-size: 15px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 33%;
        top: 510px;
        display: none;
    }
    .TotalServers {
        font-size: 20px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 66%;
        top: 555px;
        display: none;
    }
    .TotalServers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 75%;
        top: 600px;
        display: none;
    }
    .TotalMembers {
        font-size: 20px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 17%;
        top: 555px;
        display: none;
    }
    .TotalMembers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 23%;
        top: 600px;
        display: none;
    }
}


/* ===============  Tablet  =====================*/

@media screen and (min-width:768px) and (max-width:1223px) {
    .backgroundimg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
    .logolion {
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .text1 {
        position: absolute;
        color: white;
        left: 3%;
        top: 100px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .text2 {
        color: gold;
        position: absolute;
        left: 4%;
        top: 155px;
        font-size: 60px;
        font-family: 'Lalezar', cursive;
    }
    .fa1 {
        position: absolute;
        left: 90px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        display: none;
    }
    .fa2 {
        position: absolute;
        right: 80px;
        top: 180px;
        transition: all ease 0.30s;
        animation: animationfa infinite 10s;
        display: none;
    }
    @keyframes animationfa {
        0% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
        50% {
            position: absolute;
            right: 90px;
            top: 200px;
            transition: all ease 0.30s;
        }
        100% {
            position: absolute;
            right: 90px;
            top: 180px;
            transition: all ease 0.30s;
        }
    }
    /* زر المزيد */
    .butmore {
        position: absolute;
        font-size: 30px;
        top: 70%;
        left: 41%;
        text-decoration: none;
        color: white;
        width: 200px;
        height: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    .butmore:hover {
        position: absolute;
        font-size: 30px;
        top: 70%;
        left: 38%;
        text-decoration: none;
        color: black;
        width: 240px;
        height: 100px;
        background-color: goldenrod;
        border: solid black 4px;
        cursor: pointer;
        transition: all ease 0.20s;
        font-family: 'Lalezar', cursive;
    }
    /* home page */
    .bodyhomepage {
        background-color: #222436;
    }
    .topnav {
        width: 100%;
        height: 70px;
        background-color: #222;
        position: fixed;
        top: 0%;
        left: 0%;
        border-radius: 2%;
    }
    .logotopnav {
        border-radius: 10%;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 45%;
        top: 40px;
    }
    .topnavRight {
        position: fixed;
        width: 90px;
        height: 100%;
        right: 0%;
        background-color: #222;
    }
    .discord {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 10%;
        transition: all ease 0.20s;
    }
    .admins {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 25%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .information {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 44%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .devlopper {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 63%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
    .Arrow {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 0.5%;
        top: 80%;
        transition: all ease 0.20s;
        transform: scale(1, 1);
    }
     ::selection {
        color: gray;
    }
    .textcop {
        position: absolute;
        font-size: 10px;
        color: white;
        left: 15%;
        top: 280px;
        font-family: 'Vazirmatn', sans-serif;
    }
    .ramadanlogo {
        display: none;
    }
    .texthome {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        position: absolute;
        left: 10%;
        top: 200px;
        color: white;
        font-family: 'Vazirmatn', sans-serif;
    }
    .buttondisc {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
        left: 30%;
        top: 150px;
        transition: all ease 0.30s;
        display: none;
    }
    .buttondisc:hover {
        position: absolute;
        width: 200px;
        height: 90px;
        font-size: 25px;
        font-family: 'Vazirmatn', sans-serif;
        border: none;
        cursor: pointer;
        background-color: #7289DA;
        color: white;
        left: 30%;
        top: 150px;
        transition: all ease 0.30s;
        border-radius: 2%;
        border: 1px solid white;
        display: none;
    }
    .dis2 {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 40%;
        top: 150px;
        display: none;
    }
    .divspaidro {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 200px;
        display: none;
    }
    .divkarlos {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 10%;
        top: 500px;
        display: none;
    }
    .divloven {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 60%;
        top: 200px;
        display: none;
    }
    .imgspaidro {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 204px;
        display: none;
    }
    .imgkarlos {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 19%;
        top: 524px;
        display: none;
    }
    .imgloven {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 65%;
        top: 204px;
        display: none;
    }
    .imoowner {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 13%;
        top: 210px;
        display: none;
    }
    .imcoowner2 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 14%;
        top: 530px;
        display: none;
    }
    .imcoowner {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 57%;
        top: 210px;
        display: none;
    }
    .spaibut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .karlosbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 290px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .lovenbut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .spaibut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 17%;
        top: 290px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .divoreo {
        width: 200px;
        height: 200px;
        border-radius: 10%;
        background-color: #303138;
        position: absolute;
        right: 60%;
        top: 500px;
        display: none;
    }
    .imgoreo {
        border-radius: 40%;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 65%;
        top: 524px;
        display: none;
    }
    .imcoowner3 {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 60%;
        top: 530px;
        display: none;
    }
    .oreobut {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 610px;
        border: white solid 3px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .oreobut:hover {
        width: 120px;
        height: 70px;
        position: absolute;
        right: 60%;
        top: 610px;
        border: none;
        background-color: #212122;
        color: white;
        cursor: pointer;
        transition: all ease 0.30s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: none;
    }
    .titleinformation {
        font-size: 35px;
        font-family: 'Lalezar', cursive;
        color: white;
        position: absolute;
        right: 40%;
        top: 220px;
        direction: rtl;
        display: none;
    }
    .informationtext {
        font-size: 25px;
        font-size: 45px;
        font-family: 'Vazirmatn', sans-serif;
        color: white;
        position: absolute;
        right: 20%;
        top: 350px;
        direction: rtl;
        display: none;
    }
    /*profile devlopper*/
    .divprofile1 {
        border-radius: 5%;
        width: 80%;
        height: 400px;
        background-color: white;
        position: absolute;
        right: 15%;
        top: 350px;
        display: none;
    }
    .divprofile2 {
        border-radius: 60%;
        width: 150px;
        height: 150px;
        background-color: #7900FF;
        position: absolute;
        right: 36%;
        top: 310px;
        display: none;
    }
    .imgdevlopper {
        border-radius: 60%;
        width: 130px;
        height: 135px;
        position: absolute;
        right: 37%;
        top: 318px;
        display: none;
    }
    .profilename {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 30px;
        color: #7900FF;
        position: absolute;
        right: 38%;
        top: 430px;
        display: none;
    }
    .moroccoflag {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 66%;
        top: 520px;
        display: none;
    }
    .hobies {
        font-size: 15px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 33%;
        top: 510px;
        display: none;
    }
    .TotalServers {
        font-size: 20px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 66%;
        top: 555px;
        display: none;
    }
    .TotalServers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 75%;
        top: 600px;
        display: none;
    }
    .TotalMembers {
        font-size: 20px;
        color: black;
        font-family: 'Bebas Neue', cursive, sans-serif;
        position: absolute;
        right: 17%;
        top: 555px;
        display: none;
    }
    .TotalMembers2 {
        font-size: 37px;
        color: #7900FF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
        right: 23%;
        top: 600px;
        display: none;
    }
}