@media screen and (min-width:100px) and (max-width:584px) {
    @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Amiri&family=Cairo:wght@500&family=Crete+Round:ital@1&family=Dosis:wght@200&family=Fira+Sans:ital,wght@1,200&family=Fredoka:wght@300&family=Merriweather:wght@300&family=Permanent+Marker&family=Readex+Pro:wght@200;400&family=Roboto:ital,wght@0,100;1,500&family=Sansita+Swashed:wght@300&family=Tajawal:wght@200;800;900&display=swap');
    body {
        background-image: url("background.gif");
    }
    .logo {
        position: absolute;
        left: 30%;
        width: 40%;
        height: 40%;
        top: 30%;
        animation: a1 infinite 5s;
        transition: all ease 0.30s;
    }
    @keyframes a1 {
        0% {
            left: 30%;
            width: 40%;
            height: 40%;
            top: 35%;
        }
        40% {
            left: 30%;
            top: 40%;
        }
        50% {
            top: 50%;
        }
        70% {
            top: 55%;
        }
        100% {
            left: 30%;
            width: 40%;
            height: 40%;
            top: 30%;
        }
    }
    .fa-home {
        position: absolute;
        left: 15%;
        transition: all ease 0.25s;
        color: #E5890A;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
    }
    .fa-home:hover {
        position: absolute;
        left: 15%;
        color: white;
        transition: all ease 0.25s;
    }
    .fa-discord {
        position: absolute;
        left: 45%;
        transition: all ease 0.25s;
        color: #E5890A;
        cursor: pointer;
    }
    .fa-discord:hover {
        position: absolute;
        left: 45%;
        transition: all ease 0.25s;
        color: white;
    }
    .text1 {
        font-size: 75px;
        position: absolute;
        top: 110%;
        font-family: 'Permanent Marker', cursive;
        color: white;
        left: 5%;
        transition: all ease 0.30s;
        cursor: pointer;
    }
    .text1:hover {
        font-size: 75px;
        position: absolute;
        top: 110%;
        font-family: 'Permanent Marker', cursive;
        color: #E5890A;
        left: 5%;
        transition: all ease 0.30s;
    }
    .text2 {
        font-size: 75px;
        position: absolute;
        top: 110%;
        font-family: 'Permanent Marker', cursive;
        color: #E5890A;
        left: 50%;
        transition: all ease 0.30s;
        cursor: pointer;
    }
    .text2:hover {
        font-size: 75px;
        position: absolute;
        top: 110%;
        font-family: 'Permanent Marker', cursive;
        color: white;
        left: 50%;
        transition: all ease 0.30s;
    }
}